#about-main{
    min-width: 100vw;
    min-height: 100vh;
}

#content{
    padding-left: 30px;
}

.line-1 {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 1px;
    width: 75vw;
    background: white;
}

p{
    font-size: 25px;
}