#home{
    
    min-height: 100vh;
    min-width: 100vw;
}

#intro{
    margin-top: 5%;
}

#sub_intro{
    font-size: 25px;
}

#intro_body{
    font-size: 55px;
}

#pic {
    height: 375px;
    width: 375px;
    pointer-events: none;
    border-radius: 50%;
    background: url(./photo.png);
    background-size: 86%;
    background-position-x: 50%;
    opacity: 0.8;
    display: inline-flex;
}

#interest{
    font-size: 25px;
    margin-left: 5px auto;
}

@media screen and (max-width: 700px) {
    #pic{
    height: 200px;
    width: 200px;
    margin-bottom: 20%;
    pointer-events: none;
    text-align: center;
    border-radius: 50%;
    background: url(./photo.png);
    background-size: 86%;
    background-position-x: 50%;
    opacity: 0.8;
    display: inline-flex;
    }
}

#button_rows{
    margin-top: 5%;
    text-align: center;
}

button{
    border-radius: 30px;
    margin: 5px auto;
    width: 20vw;
    padding: 10px;
    background: transparent;
    color: white;
    border-color: white;
}

button:hover{
    background-color: white;
    color:#515b80;
    transition: 0.5s;
}

