#home{
    min-height: 88vh;
    min-width: 100vw;
    padding-top: 190px;
}

#sub_intro{
    font-size: 25px;
    padding-bottom: 30px;
}

#intro_body{
    font-size: 55px;
}

#pic {
    height: 375px;
    width: 375px;
    pointer-events: none;
    border-radius: 50%;
    background: url(./photo.png);
    background-size: 86%;
    background-position-x: 50%;
    opacity: 0.8;
    display: inline-flex;
}

#interest{
    font-size: 25px;
    margin-left: 20px auto;
}

@media screen and (max-width: 992px) {
    #home{
        min-height: 0vh;
        padding-top: 150px;
    }

    #pic{
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    pointer-events: none;
    text-align: center;
    border-radius: 50%;
    background: url(./photo.png);
    background-size: 86%;
    background-position-x: 50%;
    opacity: 0.8;
    display: inline-flex;
    }
}


  @media (min-width: 1100px){  
    #interests{
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
    }
  }

button{
    border:none;
    background: transparent;
    color: white;
}


