@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto:wght@100&family=Sacramento&display=swap');

#container{
    text-align: center;
}

#navbar{
    text-align: center;
}

#title, #offcanvasDarkNavbarLabel{
    font-family: 'Allura', cursive;
    margin-left: 30px;
    font-size: 60px;
}

li{
    font-size: 21px;
    margin-left: 3%;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}